.outlined-button {
  height: 64px;
  min-width: 200px;
  background: white;
  border-radius: 32px;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.outlined-button:hover {
  color: var(--primary-dark-color);
  border-color: var(--primary-dark-color);
}

.outlined-button:focus {
  outline: none;
  box-shadow: var(--button-focus);
}

.outlined-button:active {
  background: var(--primary-light-color);
  color: var(--primary-dark-color);
  border-color: var(--primary-dark-color);
}

.loading-animation {
  height: 40px;
}