html {
  --primary-color: #6d41e6;
  --primary-mid-color: #6464d6;
  --primary-dark-color: #460de4;
  --primary-light-color: #d3d3f8;
  --box-shadow-1: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --button-focus: var(--primary-mid-color) 0px 0px 8px 2px;
}